footer.navbar.navbar-default.navbar-fixed-bottom.visible-lg.visible-md(role='footer', ng-controller='FooterCtrl')
    .container
        ul.nav.navbar-nav.navbar-left
            li
                a(ui-sref='about', translate) About
